<div class="dalekbot-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="dalekbot-title mdl-layout-title">
      <img class="dalekbot-logo-image" src="/assets/images/logos/dalekbot-logo.png">
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="dalekbot-header-spacer mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="dalekbot-navigation-container">
        {% include navagation-list.html %}
    </div>
    <span class="dalekbot-mobile-title mdl-layout-title">
      <img class="dalekbot-logo-image" src="/assets/images/logos/dalekbot-logo.png">
    </span>
  </div>
</div>