--- 
layout: default
--- 
<div class="dalekbot-card-container mdl-grid">
    {% for post in site.posts %}
      {% if post.categories contains 'blog' %}
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
          <!-- <div class="mdl-card__media">
            <img src="images/more-from-1.png">
          </div> -->
          <div class="mdl-card__title">
            <div class="blog_title">

              <h4 class="mdl-card__title-text">{{ post.title }}</h4>
            </div>
          </div>
          <div class="mdl-card__supporting-text">
    
              <p>
                  <small>

                    <strong>BY <a href="/roboteer/{{ post.author}}"   title="posts by Roboteer {{ post.author | capitalize }}" rel"author">{{ post.author | capitalize }}</a> {{ post.date | date: " %b %e %Y" }} </strong>
           
                   
                  </small>
                </p>
                <div class="blog_image">

                  <a href="{{ post.url }}">
                    <!-- image here -->
                  <img src="/assets/images/sz_small/{{ post.thumbnail_file_name }}" 
                       alt="{{ post.thumbnail_alt}}">
                </a>
                </div>
            <span class="mdl-typography--font-light mdl-typography--subhead">{{ post.excerpt }}</span>
          
          </div>
          <div class="mdl-card__actions">
             <a class="dalekbot-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ post.url }}">
               MORE
               <i class="material-icons">chevron_right</i>
             </a>
          </div>
        </div>
        {% endif %}
    {% endfor %}
      </div>